<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Health</title>
    <link rel="shortcut Icon" href="Icons/heartbeat.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet">
</head>

<body background="images/fundo.jpg" bgproperties='fixed'>
    <table>
        <td><img src="Icons/heartbeat.png" alt="Icone"></td>
        <td>
            <h2 class="logo"><a href="index.html" class="a">WEBHEALTH 2019</h2>
            </h2></a>
        </td>
    </table>
    <hr style="border-top: 2px #000 solid; margin-top: 0px; margin-bottom: 0px;">
    <br>
    <nav class="menu">
        <ul>
            <li><a href="cadastro.html"><img class="icon" src="Icons/004-notepad.png" alt="Icone 1">Cadastro</a></li>
            <li><a href="agendamento.html"><img class="icon" src="Icons/004-notepad.png" alt="Icone 2">Agendamento</a></li>
            <li><a href="contato.html"><img class="icon" src="Icons/005-mail.png" alt="Icone 3">Contato</a></li>
            <li><a href="lista.html"><img class="icon" src="Icons/002-menu.png" alt="Icone 4">Listas</a></li>
        </ul>
    </nav>
    <br><br>
    <h2 class="index-h2">Contato</h2><br>
    <form action="formulario" method="">
        <b><label>Nome:</label> </b><input type="text" name="nome" placeholder="Digite seu nome"><br><br>
        <b><label>E-mail:</label></b><input type="text" name="e-mail" placeholder="E-mail"><br><br>
        <b>Telefone:</b><input type="text" name="telefone" placeholder="telefone"><br><br>
        <b><label>Mensagem:</label></b><input type="text" name="mensagem" placeholder="Digite sua mensagem">
    </form>
</body></html>