<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Health</title>
    <link rel="shortcut Icon" href="Icons/heartbeat.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet">

</head>

<body background='images/fundo.jpg'>
    <table>
        <td><img src="Icons/heartbeat.png" alt="Icone"></td>
        <td>
            <h2 class="logo"><a href="index.html" class="a">WEBHEALTH 2019</h2>
            </h2></a>
        </td>
    </table>
    <hr style="border-top: 2px #000 solid; margin-top: 0px; margin-bottom: 0px;">
    <br>
   <nav class="menu">
          <ul>
              <li><a href="cadastro.html"><img class="icon" src="Icons/004-notepad.png" alt="Icone 1">Cadastro</a></li>
              <li><a href="agendamento.html"><img class="icon" src="Icons/004-notepad.png" alt="Icone 2">Agendamento</a></li>
              <li><a href="contato.html"><img class="icon" src="Icons/005-mail.png" alt="Icone 3">Contato</a></li>
              <li><a href="lista.html"><img class="icon" src="Icons/002-menu.png" alt="Icone 4">Listas</a></li>
          </ul>
        </nav>
    <section class="conteudo">
        <div class="imagem">
        <img src="images/doctor_1.png" alt="">
        </div>
        <div class="text">
            <p><h2>WebHealth é um sistema de agendamento de consultas online.</p>
            </h2>
            <h5 class="text2">Verifique o posto de saude mais perto de sua residência e agende uma consulta sem sair de casa.</h5>
            </div>
        </div>
    </section>
</body>
</html>